@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-outfit: var(--font-outfit);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}